# Regression with Keras - D

## Introduction

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. Building a very complex deep learning network can be achieved with Keras with only few lines of code. In this notebook we perform Regression using Keras on a dataset containing compressive strength of different samples of concrete based on the volumes of the different materials that were used to make them.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3> 
1. <a href="#item1">Download and Clean Dataset</a>  
2. <a href="#item2">Import Keras</a>  
3. <a href="#item3">Build a Neural Network</a>  
4. <a href="#item4">Train and Test the Network</a>
5. <a href="#item4">Listing MSE</a>          
</font>
</div>

<a id="item1"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

<strong>This dataset is about the compressive strength of different samples of concrete based on the volumes of the different materials that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

## Import Keras

Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library.

#### Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import train_test_split function from scikit-learn in order to split the data into a training and test sets.

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data by reserving 30% for test set.

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

In [16]:
# build the model
model = regression_model()

# fit the model
model.fit(predictors_norm, target, epochs=50, verbose=2)

Epoch 1/50

2023-10-24 21:51:28.804320: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2023-10-24 21:51:28.804812: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.804911: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805000: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805092: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805185: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805274: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805362: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64
2023-10-24 21:51:28.805656: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
2023-10-24 21:51:28.806003: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

33/33 - 1s - loss: 1555.6051 - 540ms/epoch - 16ms/step
Epoch 2/50
33/33 - 0s - loss: 1520.9286 - 70ms/epoch - 2ms/step
Epoch 3/50
33/33 - 0s - loss: 1470.7473 - 58ms/epoch - 2ms/step
Epoch 4/50
33/33 - 0s - loss: 1375.7283 - 59ms/epoch - 2ms/step
Epoch 5/50
33/33 - 0s - loss: 1191.5378 - 64ms/epoch - 2ms/step
Epoch 6/50
33/33 - 0s - loss: 868.3994 - 62ms/epoch - 2ms/step
Epoch 7/50
33/33 - 0s - loss: 512.7076 - 60ms/epoch - 2ms/step
Epoch 8/50
33/33 - 0s - loss: 310.8073 - 58ms/epoch - 2ms/step
Epoch 9/50
33/33 - 0s - loss: 247.6223 - 61ms/epoch - 2ms/step
Epoch 10/50
33/33 - 0s - loss: 215.4511 - 66ms/epoch - 2ms/step
Epoch 11/50
33/33 - 0s - loss: 198.1679 - 58ms/epoch - 2ms/step
Epoch 12/50
33/33 - 0s - loss: 186.7697 - 56ms/epoch - 2ms/step
Epoch 13/50
33/33 - 0s - loss: 179.1500 - 49ms/epoch - 1ms/step
Epoch 14/50
33/33 - 0s - loss: 172.7556 - 70ms/epoch - 2ms/step
Epoch 15/50
33/33 - 0s - loss: 167.7938 - 63ms/epoch - 2ms/step
Epoch 16/50
33/33 - 0s - loss: 164.0418 - 61ms/epoch - 2ms/step
Epoch 17/50
33/33 - 0s - loss: 160.3625 - 51ms/epoch - 2ms/step
Epoch 18/50
33/33 - 0s - loss: 157.3201 - 53ms/epoch - 2ms/step
Epoch 19/50
33/33 - 0s - loss: 154.1225 - 58ms/epoch - 2ms/step
Epoch 20/50
33/33 - 0s - loss: 151.6945 - 57ms/epoch - 2ms/step
Epoch 21/50
33/33 - 0s - loss: 149.1189 - 58ms/epoch - 2ms/step
Epoch 22/50
33/33 - 0s - loss: 146.8207 - 56ms/epoch - 2ms/step
Epoch 23/50
33/33 - 0s - loss: 144.7694 - 61ms/epoch - 2ms/step
Epoch 24/50
33/33 - 0s - loss: 142.7039 - 62ms/epoch - 2ms/step
Epoch 25/50
33/33 - 0s - loss: 140.7522 - 65ms/epoch - 2ms/step
Epoch 26/50
33/33 - 0s - loss: 139.1109 - 65ms/epoch - 2ms/step
Epoch 27/50
33/33 - 0s - loss: 136.5410 - 69ms/epoch - 2ms/step
Epoch 28/50
33/33 - 0s - loss: 134.4449 - 61ms/epoch - 2ms/step
Epoch 29/50
33/33 - 0s - loss: 132.7276 - 66ms/epoch - 2ms/step
Epoch 30/50
33/33 - 0s - loss: 130.5428 - 66ms/epoch - 2ms/step
Epoch 31/50
33/33 - 0s - loss: 127.9000 - 67ms/epoch - 2ms/step
Epoch 32/50
33/33 - 0s - loss: 125.9577 - 69ms/epoch - 2ms/step
Epoch 33/50
33/33 - 0s - loss: 123.4386 - 67ms/epoch - 2ms/step
Epoch 34/50
33/33 - 0s - loss: 121.0872 - 69ms/epoch - 2ms/step
Epoch 35/50
33/33 - 0s - loss: 118.6230 - 64ms/epoch - 2ms/step
Epoch 36/50
33/33 - 0s - loss: 115.9447 - 61ms/epoch - 2ms/step
Epoch 37/50
33/33 - 0s - loss: 112.9808 - 65ms/epoch - 2ms/step
Epoch 38/50
33/33 - 0s - loss: 110.3467 - 50ms/epoch - 2ms/step
Epoch 39/50
33/33 - 0s - loss: 107.9386 - 52ms/epoch - 2ms/step
Epoch 40/50
33/33 - 0s - loss: 105.4805 - 49ms/epoch - 1ms/step
Epoch 41/50
33/33 - 0s - loss: 103.2399 - 52ms/epoch - 2ms/step
Epoch 42/50
33/33 - 0s - loss: 100.7200 - 54ms/epoch - 2ms/step
Epoch 43/50
33/33 - 0s - loss: 98.4070 - 53ms/epoch - 2ms/step
Epoch 44/50
33/33 - 0s - loss: 96.1771 - 52ms/epoch - 2ms/step
Epoch 45/50
33/33 - 0s - loss: 94.0968 - 53ms/epoch - 2ms/step
Epoch 46/50
33/33 - 0s - loss: 91.8492 - 52ms/epoch - 2ms/step
Epoch 47/50
33/33 - 0s - loss: 89.9824 - 50ms/epoch - 2ms/step
Epoch 48/50
33/33 - 0s - loss: 88.4331 - 59ms/epoch - 2ms/step
Epoch 49/50
33/33 - 0s - loss: 86.4997 - 65ms/epoch - 2ms/step
Epoch 50/50
33/33 - 0s - loss: 84.7071 - 55ms/epoch - 2ms/step

We need to evaluate the model on test data.

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 78.7439
10/10 [==============================] - 0s 1ms/step

78.74392700195312

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

78.74392702044655 0.0

List of 50 mean squared errors with report of mean and the standard deviation of the mean squared errors.

In [19]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. \n Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 54.858741760253906
10/10 [==============================] - 0s 2ms/step
MSE 2: 58.097251892089844
10/10 [==============================] - 0s 1ms/step
MSE 3: 40.33566665649414
10/10 [==============================] - 0s 1ms/step
MSE 4: 41.735862731933594
10/10 [==============================] - 0s 2ms/step
MSE 5: 41.57871627807617
10/10 [==============================] - 0s 2ms/step
MSE 6: 45.26001739501953
10/10 [==============================] - 0s 1ms/step
MSE 7: 42.985260009765625
10/10 [==============================] - 0s 1ms/step
MSE 8: 35.86332702636719
10/10 [==============================] - 0s 2ms/step
MSE 9: 33.438079833984375
10/10 [==============================] - 0s 1ms/step
MSE 10: 34.164329528808594
10/10 [==============================] - 0s 1ms/step
MSE 11: 33.89586639404297
10/10 [==============================] - 0s 1ms/step
MSE 12: 26.664011001586914
10/10 [==============================] - 0s 1ms/step
MSE 13: 31.580780029296875
10/10 [==============================] - 0s 1ms/step
MSE 14: 33.95024108886719
10/10 [==============================] - 0s 1ms/step
MSE 15: 26.271650314331055
10/10 [==============================] - 0s 1ms/step
MSE 16: 23.474557876586914
10/10 [==============================] - 0s 1ms/step
MSE 17: 26.868572235107422
10/10 [==============================] - 0s 1ms/step
MSE 18: 25.662315368652344
10/10 [==============================] - 0s 1ms/step
MSE 19: 24.6685848236084
10/10 [==============================] - 0s 1ms/step
MSE 20: 30.440414428710938
10/10 [==============================] - 0s 1ms/step
MSE 21: 25.88926124572754
10/10 [==============================] - 0s 1ms/step
MSE 22: 22.72089195251465
10/10 [==============================] - 0s 1ms/step
MSE 23: 21.331409454345703
10/10 [==============================] - 0s 1ms/step
MSE 24: 23.837175369262695
10/10 [==============================] - 0s 1ms/step
MSE 25: 27.193450927734375
10/10 [==============================] - 0s 1ms/step
MSE 26: 26.654129028320312
10/10 [==============================] - 0s 1ms/step
MSE 27: 23.089651107788086
10/10 [==============================] - 0s 1ms/step
MSE 28: 24.40450668334961
10/10 [==============================] - 0s 1ms/step
MSE 29: 23.94876480102539
10/10 [==============================] - 0s 1ms/step
MSE 30: 20.589414596557617
10/10 [==============================] - 0s 1ms/step
MSE 31: 19.25538444519043
10/10 [==============================] - 0s 1ms/step
MSE 32: 20.69391632080078
10/10 [==============================] - 0s 1ms/step
MSE 33: 18.23552894592285
10/10 [==============================] - 0s 1ms/step
MSE 34: 20.709592819213867
10/10 [==============================] - 0s 1ms/step
MSE 35: 23.66303825378418
10/10 [==============================] - 0s 2ms/step
MSE 36: 26.07913589477539
10/10 [==============================] - 0s 2ms/step
MSE 37: 16.049625396728516
10/10 [==============================] - 0s 1ms/step
MSE 38: 20.59532928466797
10/10 [==============================] - 0s 2ms/step
MSE 39: 21.337692260742188
10/10 [==============================] - 0s 2ms/step
MSE 40: 18.199094772338867
10/10 [==============================] - 0s 2ms/step
MSE 41: 21.58943748474121
10/10 [==============================] - 0s 2ms/step
MSE 42: 18.468616485595703
10/10 [==============================] - 0s 2ms/step
MSE 43: 22.10220718383789
10/10 [==============================] - 0s 2ms/step
MSE 44: 23.328758239746094
10/10 [==============================] - 0s 2ms/step
MSE 45: 22.41425323486328
10/10 [==============================] - 0s 2ms/step
MSE 46: 21.102876663208008
10/10 [==============================] - 0s 2ms/step
MSE 47: 19.149822235107422
10/10 [==============================] - 0s 1ms/step
MSE 48: 18.895421981811523
10/10 [==============================] - 0s 2ms/step
MSE 49: 19.648056030273438
10/10 [==============================] - 0s 2ms/step
MSE 50: 20.73194694519043
10/10 [==============================] - 0s 2ms/step


Mean and standard deviation of 50 mean squared errors without normalized data.
 Total number of epochs for each training is: 50

Mean: 27.274052228858835
Standard Deviation: 9.279025439010363